/** @format */

.card-class {
  position: relative; // Ensures absolute positioning works correctly
  padding: 24px; // Adjust as needed for spacing
  padding-bottom: 60px; // Provide space for the add button
}

.info-title {
  margin-bottom: 46px !important; // Ensure consistent space below the title
}

.absolute {
  position: absolute; // Allows for the positioning of buttons
}

.right-4 {
  right: 16px; // Space from the right of the card
}

// Additional styles as needed
